<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gz424sse2425's Pages</title>
</head>
<body>
    <h1>Hello, welcome to G Zheng and Y Zhou's Page</h1>
    <p>We are current imperial graduate students.</p>
    <p>Our major is computing, which is really interesting.</p>
    <p>Hope you can share your info with me.</p>

    <form action="/submit" method="post">
      <label for="namefield"> Name:</label>
      <input type="text" id="namefield" name="name">
      <label for="agefield">Age:</label>
      <input type="number" id="agefield" name="age">
      <input type="submit" value="Submit">
    </form>

    <h2>jump to Get_github_username</h2>
    <a href="/get_github_username">click here</a>

    <h2>jump to learn updated currency exchange</h2>
    <a href="/get_currency_exchange">click here</a>
</body>
</html>
